
.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
}

img {
    width: 15rem;
    height: 10rem;
}

a {
    text-decoration: none;
}

.col :hover {
    box-shadow: 0px 0px 50px 11px rgba(0,0,0,0.1);
}

.card-body .card-text {
    box-shadow: none;
}