@model Trilha.Model.Models.Tarefa;

<form asp-action="updateEditTwo">
    <div>
        <input asp-for="Id" type="hidden" />
    </div>
    <div class="mb-3">
        <label asp-for="Titulo" class="form-label">@Html.DisplayNameFor(model => model.Titulo)</label>
        <input asp-for="Titulo" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Descricao" class="form-label">@Html.DisplayNameFor(model => model.Descricao)</label>
        <input asp-for="Descricao" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Data" class="form-label">@Html.DisplayNameFor(model => model.Data)</label>
        <input asp-asp-for="Data" type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Status)</label>
        <select asp-for="Status" class="form-select" aria-label="Default select example">
            <option selected>Selecione o status da tarefa</option>
            <option value="1">Realizado</option>
            <option value="2">Pendente</option>
            <option value="3">Refazer</option>
        </select>


    </div>
    <button type="submit" class="btn btn-primary">Salvar alterações</button>
</form>